# the short name for the application
APP=abode

# the azure location name (i.e. eastus, westus, westeurope)
LOCATION=eastus

# a 3-4 character abbreviated name for the location
LOCATION_SHORT=usea

# the name of the environment (i.e. dev, test, qa, prod)
ENV=dev